{{/*
SPDX-FileCopyrightText: Pablo Marcos <kde@pablomarcos.me>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{ define "head-import" }}
<link rel="stylesheet" href="https://cdn.kde.org/breeze-icons/icons.css" >
{{ end }}

{{ define "main" }}
<main class="container" role="main">
  <h1>{{ .Params.title }}</h1>
  <p>
  {{ .Params.intro }}
  </p>
  </br>
<table>
  <tbody><tr>
    <td class="FormatsHeader">{{ i18n "Apps.Header" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.PDF" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.PS" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.Tiff" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.CHM" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.DjVu" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.Images" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.DVI" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.XPS" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.ODT" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.Fiction Book" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.Comic Book" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.Plucker" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.EPub" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.Fax" }}</td>
    <td class="FormatsHeader">{{ i18n "Apps.Mobipocket" }}</td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Mainlib" }}</td>
    <td class="">{{ i18n "Apps.poppler" | markdownify }}</td>
    <td class="">{{ i18n "Apps.libspectre" | markdownify }}<s/td>
    <td class="">{{ i18n "Apps.libTIFF" | markdownify }}</td>
    <td class="">{{ i18n "Apps.chmlib" | markdownify }}</td>
    <td class="">{{ i18n "Apps.DjVuLibre" | markdownify }}</td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="">{{ i18n "Apps.epub" | markdownify }}</td>
    <td class=""></td>
    <td class=""></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Loading" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Rendering" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Threads" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Documents" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.TOC" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Font" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.ExtractText" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Links" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.PaperSize" | markdownify }}</td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Printing" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.TextExporting" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
  </tr>
  <tr>
    <td class=""><b>{{ i18n "Apps.OtherFeatures" | markdownify }}</b></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Annotations" | markdownify }}</td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Forms" | markdownify }}</td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.InverseSearch" | markdownify }}</td>
    <td class="FormatsDone">{{ i18n "Apps.InverseSearch.FormatsDone"}}</td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.DocumentRights" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.EmbeddedFiles" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Sounds" | markdownify }}</td>
    <td class="FormatsDone"><i class="icon icon_dialog-ok-apply" area-label="{{ i18n "Apps.yes" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
  </tr>
  <tr>
    <td class="">{{ i18n "Apps.Movies" | markdownify }}</td>
    <td class="FormatsInProgress"><i class="icon icon_chronometer" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class="FormatsTodo"><i class="icon icon_view-close" area-label="{{ i18n "Apps.wip" }}"></td>
    <td class=""></td>
    <td class=""></td>
  </tr>
</tbody>
</table>
</main>
{{ end }}
 
